.invitationcardComponent {
  width: 75%;
  margin: 15px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 5px 50px 70px 1px #e8e7e7;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px;
}

.descText {
  position: relative;
  width: 1700px;
}

.description {
  margin: 0px;
  color: #727272;
  font-size: 15px;
}

.requestsendContainor {
  display: flex;
  align-items: center;
  position: relative;
  width: 525px;
}

.requestsendContainor .description {
  padding: 25px;
}

.vehicleNumber {
  height: 30px;
  width: 250px;
  margin: 20px;
  border: 0.5px solid #cecfd0;
  border-radius: 15px;
  margin-top: 5px;
  padding: 15px;
  color: #727272;
}

.progContainor .requestsendBtn {
  background-color: #1ad598;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 45px;
}

.progContainor .requestsendBtn:hover {
  background-color: #0cc386;
}

.progressBar {
  background-color: #e2e8f0;
  width: 200px;
  height: 5px;
  border-radius: 25px;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.progress {
  background-color: #0cc386;
  color: white;
  padding: 2.5px;
  /* margin: 2px; */
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  width: 50%;
  height: 0.2px;
  justify-content: center;
  align-items: center;
}

.progContainor {
  display: flex;
  align-items: center;
}

.prog {
  font-size: 15px;
  color: #1ad598;
  margin-left: 20px;
}
