#hello2 {
    position: absolute;
    height:720px;
    top:160px;
    width:520px;
    right:500px;
    border-style:solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #E5E5E5;
}

#register{
    position: absolute;
    height:530px;
    top:35px;
    font-size: 25px;
    font-weight: 900;
    font-family: "lato";
    left:35px;
}

#begin{
    position: absolute;
    top:78px;
    font-size: 13px;
    font-family: "lato";
    left:35px;
    color: #999BA1;
}

#FN{
    position: absolute;
    top:142px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    left:55px;
    color: #3B3D41;
}


.labelline11{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:184px;
    left:65px;
}

#in11{
    position: absolute;
    top:170px;
    font-size: 13.5px;
    font-family: "lato";
    left:50px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline11,
input:valid+ .labelline11{
    color:#6e6f72;
    height:20px;
    transform: translate(115px,-20px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}




#LN{
    position: absolute;
    top:142px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    right:193px;
    color: #3B3D41;
}

.labelline22{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:184px;
    right:180px;
}

#in22{
    position: absolute;
    top:170px;
    font-size: 13.5px;
    font-family: "lato";
    right:60px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline22,
input:valid+ .labelline22{
    color:#6e6f72;
    height:20px;
    transform: translate(100px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}




#YE{
    position: absolute;
    top:243px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    left:55px;
    color: #3B3D41;
}

.labelline33{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:285px;
    left:65px;
}

#in33{
    position: absolute;
    top:271px;
    font-size: 13.5px;
    font-family: "lato";
    left:50px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline33,
input:valid+ .labelline33{
    color:#6e6f72;
    height:20px;
    transform: translate(53px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}



#YN{
    position: absolute;
    top:243px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    right:193px;
    color: #3B3D41;
}

.labelline44{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:285px;
    right:140px;
}

#in44{
    position: absolute;
    top:271px;
    font-size: 13.5px;
    font-family: "lato";
    right:60px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline44,
input:valid+ .labelline44{
    color:#6e6f72;
    height:20px;
    transform: translate(62px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}


#PW{
    position: absolute;
    top:345px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    left:55px;
    color: #3B3D41;
}

.labelline55{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:388px;
    left:65px;
}

#in55{
    position: absolute;
    top:374px;
    font-size: 13.5px;
    font-family: "lato";
    left:50px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline55,
input:valid+ .labelline55{
    color:#6e6f72;
    height:20px;
    transform: translate(78px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}


#CP{
    position: absolute;
    top:345px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    right:150px;
    color: #3B3D41;
}

.labelline66{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:388px;
    right:130px;
}

#in66{
    position: absolute;
    top:374px;
    font-size: 13.5px;
    font-family: "lato";
    right:60px;
    width:180px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline66,
input:valid+ .labelline66{
    color:#6e6f72;
    height:20px;
    transform: translate(52px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}

#YA{
    position: absolute;
    top:450px;
    font-size: 12px;
    font-weight: 900;
    font-family: "lato";
    left:55px;
    color: #3B3D41;
}

.labelline77{
    color: #999BA1;
    font-family: "lato";
    font-size: 13.5px;
    transition: 0.2s ease;
    position: absolute;
    top:495px;
    left:65px;
}

#in77{
    position: absolute;
    top:480px;
    font-size: 13.5px;
    font-family: "lato";
    left:50px;
    width:395px;
    height: 42px;
    border-style:solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #E5E5E5;
    background: transparent;
    transition: 0.1s ease;
    z-index:1111;
    padding-left: 12px;
}

input:focus,
input:valid{
    border:1px solid;
}

input:focus+ .labelline77,
input:valid+ .labelline77{
    color:#6e6f72;
    height:20px;
    transform: translate(300px,-21px) scale(0.88);
    z-index: 1111;
    font-size: 12px;
    font-family: "lato";
}

#frgt{
    position: absolute;
    top:580px;
    font-size: 12px;
    font-family: "lato";
    left:95px;
}

#buto2{
    background-color: #D5D7D9;
    padding: 10px 45px;
    border-radius: 8px;
    border: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 200;
    position: absolute;
    top:620px;
    left:63px;
    width:400px;
    color: #999BA1;
}

