.requestSection {
  background-color: #f9fbfc;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 20px;
  margin-top: 115px;
  border-radius: 15px;
}

.invitationSection {
  /* position:absolute; */
  margin: 20px;
  padding: 10px;
  width: 1950px;
  border-radius: 15px;
  margin-left: 0px;
}

.myVehicle {
  margin: 20px;
  padding: 30px;
  background-color: #f9fbfc;
  border-radius: 15px;
  padding-right: 0px;
}

.vehicleSection {
  /* position:absolute; */
  display: flex;
}
