.requestSection{
    background-color: #F9FBFC;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 20px;
    margin-top: 115px;
    border-radius: 15px;
}

.invitationSection{
    /* position:absolute; */
    margin: 20px;
    padding: 10px;
    width:1950px;
    border-radius: 15px;
    margin-left: 0px;
}

.vehicleSection{
    /* position:absolute; */
    margin: 20px;
    padding: 30px;
    background-color: #F9FBFC;
    border-radius: 15px;
}